# 문제 정의 : 적당한 주가 예측의 어려움

In [2]:
import pandas as pd

stock_info = pd.read_csv("../00_data/stock_daily_prices.csv", index_col="Date", encoding=None)
stock_info

,AAPL,BA,T,MGM,AMZN,IBM,TSLA,GOOG,sp500
Date,,,,,,,,,
2012-01-12,60.198570,75.510002,30.120001,12.130000,175.929993,180.550003,28.250000,313.644379,1295.500000
2012-01-13,59.972858,74.599998,30.070000,12.350000,178.419998,179.160004,22.790001,311.328064,1289.089966
2012-01-17,60.671429,75.239998,30.250000,12.250000,181.660004,180.000000,26.600000,313.116364,1293.670044
2012-01-18,61.301430,75.059998,30.330000,12.730000,189.440002,181.070007,26.809999,315.273285,1308.040039
2012-01-19,61.107143,75.559998,30.420000,12.800000,194.449997,180.520004,26.760000,318.590851,1314.500000
...,...,...,...,...,...,...,...,...,...
2020-08-05,440.250000,174.279999,29.850000,16.719999,3205.030029,125.449997,1485.020020,1473.609985,3327.770020
2020-08-06,455.609985,172.199997,29.840000,18.459999,3225.000000,126.120003,1489.579956,1500.099976,3349.159912
2020-08-07,444.450012,170.020004,30.020000,19.030001,3167.459961,124.959999,1452.709961,1494.489990,3351.280029
2020-08-10,450.910004,179.410004,30.200001,21.650000,3148.159912,127.110001,1418.569946,1496.099976,3360.469971
2020-08-11,437.500000,180.130005,30.200001,21.500000,3080.669922,126.750000,1374.390015,1480.319946,3333.689941

In [3]:
# 기초 통계 계산
average_prices = stock_info.mean()
print(f"각 종목의 평균 주가 : \n {average_prices}")

print()
std_dev_prices = stock_info.std()
print(f"각 종목의 변동성 (표준편차) : \n{std_dev_prices}")

각 종목의 평균 주가 :
 AAPL      140.819823
BA        189.942700
T          35.162899
MGM        23.105743
AMZN      915.665665
IBM       161.853001
TSLA      259.600815
GOOG      783.712512
sp500    2218.749554
dtype: float64

각 종목의 변동성 (표준편차) :
AAPL      70.827601
BA       103.678586
T          3.207490
MGM        6.963847
AMZN     697.838905
IBM       25.561938
TSLA     210.988003
GOOG     334.448057
sp500    537.321727
dtype: float64

In [4]:
# 특정 날짜의 종목 비교

specific_day_prices = stock_info.loc["2012-01-25"]

# 2012-01-25에 가장 높은 주가를 기록하는 종목
max_price_stock = specific_day_prices.idxmax()
max_price_value = specific_day_prices.max()
print(f"2012-01-25에 가장 높은 주가를 기록한 종목 : {max_price_stock}, 주가 : {max_price_value}")

2012-01-25에 가장 높은 주가를 기록한 종목 : sp500, 주가 : 1326.060059

In [12]:

daily_returns = stock_info.pct_change() *100


max_return_stock = daily_returns.idxmax().max()
max_return_value = daily_returns.max().max()


print(f"가장 높은 수익률을 기록한 종목 : MGM 수익률 :  {max_return_value:.2f}%")
print(f"가장 높은 순익률을 기록한 날의 수익률 데이터 : \n {daily_returns.max()}")

가장 높은 수익률을 기록한 종목 : MGM 수익률 :  33.11%
가장 높은 순익률을 기록한 날의 수익률 데이터 :
 AAPL     11.980826
BA       24.318606
T        10.022346
MGM      33.114754
AMZN     15.745701
IBM      11.301051
TSLA     24.395054
GOOG     16.052431
sp500     9.382774
dtype: float64

### 주식 간의 상관관계 분석

In [13]:
stock_info_copy = stock_info.copy()
stock_info_copy.reset_index(inplace=True)
correlation_matrix = stock_info_copy.drop(columns="Date").corr()
correlation_matrix.round(2)

       AAPL    BA     T   MGM  AMZN   IBM  TSLA  GOOG  sp500
AAPL   1.00  0.65 -0.21  0.39  0.94 -0.73  0.84  0.91   0.89
BA     0.65  1.00 -0.14  0.75  0.77 -0.64  0.33  0.82   0.86
T     -0.21 -0.14  1.00  0.25 -0.24  0.20 -0.19 -0.08  -0.06
MGM    0.39  0.75  0.25  1.00  0.47 -0.48  0.27  0.65   0.71
AMZN   0.94  0.77 -0.24  0.47  1.00 -0.77  0.76  0.96   0.92
IBM   -0.73 -0.64  0.20 -0.48 -0.77  1.00 -0.61 -0.81  -0.80
TSLA   0.84  0.33 -0.19  0.27  0.76 -0.61  1.00  0.74   0.70
GOOG   0.91  0.82 -0.08  0.65  0.96 -0.81  0.74  1.00   0.98
sp500  0.89  0.86 -0.06  0.71  0.92 -0.80  0.70  0.98   1.00

# 주식별 변동률 계산

In [16]:
change_precent = ((stock_info.iloc[-1] - stock_info.iloc[0]))/stock_info.iloc[0] * 100

num_days = len(stock_info) -1 
average_daily_change_precent = change_precent /num_days

max_change_stock = average_daily_change_precent.idxmax()
max_change_value = average_daily_change_precent.max()

print("주식별 하루 평균 변동률 (%)")
print(average_daily_change_precent.round(2))
print(f"가장 높은 변동률을 가진 주식 : {max_change_stock}, g하루 평균 변동률 : {max_change_value:.2f}")

주식별 하루 평균 변동률 (%)
AAPL     0.29
BA       0.06
T        0.00
MGM      0.04
AMZN     0.77
IBM     -0.01
TSLA     2.21
GOOG     0.17
sp500    0.07
dtype: float64
가장 높은 변동률을 가진 주식 : TSLA, g하루 평균 변동률 : 2.21